<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/adminIndex.css">
	<link rel="stylesheet" href="__CSS__/font-awesome.min.css">
	<meta charset="UTF-8">
	<title>后台管理页面</title>
</head>
<body>
<header>
	<section>
		{include file="Index/nav"}
	</section>
</header>
<main class="row">
	<section class="col-md-2">
		{include file="Index/sidebar"}
	</section>
	<section class="col-md-10 mainbody">
		<div class="wrap">

			<ul class="breadcrumb">
				<li><a href="/admin/Position/index"><i class="fa fa-dashboard"></i> 推荐位管理</a> <span class="divider"></span></li>
				<li class="active"><i class="fa fa-edit"></i> 添加</li>
			</ul>
			<div class="row">
			    <div class="col-lg-12">
			        <form class="form-horizontal" id="mooncms-form">
			            <div class="form-group">
			                <label for="inputname" class="col-sm-2 control-label">推荐位名:</label>
			                <div class="col-sm-8">
			                    <input type="text" name="name" class="form-control" id="inputname" placeholder="请填写推荐位名">
			                </div>
			            </div>
			            <div class="form-group">
			                <label for="description" class="col-sm-2 control-label">描述:</label>
			                <div class="col-sm-8">
			                    <input type="text" class="form-control" name="description" id="description" placeholder="请填写推荐位描述">
			                </div>
			            </div>
			            <div class="form-group">
			                <label for="status" class="col-sm-2 control-label">状态:</label>
			                <div class="col-sm-8">
			                    <input type="radio" name="status" id="optionsRadiosInline1" value="开启" checked> 开启
			                    <input type="radio" name="status" id="optionsRadiosInline2" value="关闭"> 关闭
			                </div>
			            </div>
			            <div class="form-group">
			                <div class="col-sm-offset-2 col-sm-10">
			                    <button type="button" class="btn btn-default" id="mooncms-button-submit">提交</button>
			                </div>
			            </div>
			        </form>


			    </div>

			</div>
			<!-- /.row -->
			

		</div>
	</section>
</main>


<script type="text/javascript" src="__JS__/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/dialog/layer.js"></script>
<script type="text/javascript" src="__JS__/dialog.js"></script>
<script type="text/javascript" src="__JS__/admin/common.js"></script>

<script type="text/javascript">
	var SCOPE = {
		'save_url': '/admin/Position/add',
		'jump_url': '/admin/Position/index'
	}
</script>

</body>
</html>