<nav class="navbar navbar-inverse">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="topBarImage" href="javascript:void(0)"><image src="__IMAGE__/tutu.png"/></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li {if condition="$result.catid == 0"}class="active"{/if}><a href="/">首页 <span class="sr-only">(current)</span></a></li>
				{foreach name="navs" item="nav"}
					<li {if condition="$result.catid == $nav.menu_id"}class="active"{/if}><a href="/index/Cat/index/id/{$nav.menu_id}">{$nav.name}</a></li>
				{/foreach}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
